ccwc/bin/*
ccwc/obj/*
DSACoding/obj/*
.vs/*
DSACoding/bin/Debug/net8.0/*
DSACoding/bin/Debug/net8.0/DSACoding.dll
DSACoding/bin/Debug/net8.0/DSACoding.exe
DSACoding/bin/Debug/net8.0/DSACoding.pdb
DSACoding/obj/DSACoding.csproj.nuget.dgspec.json
DSACoding/obj/project.nuget.cache
DSACoding/obj/Debug/net8.0/apphost.exe
DSACoding/obj/Debug/net8.0/DSACoding.AssemblyInfo.cs
DSACoding/obj/Debug/net8.0/DSACoding.AssemblyInfoInputs.cache
DSACoding/obj/Debug/net8.0/DSACoding.assets.cache
DSACoding/obj/Debug/net8.0/DSACoding.csproj.CoreCompileInputs.cache
DSACoding/obj/Debug/net8.0/DSACoding.dll
DSACoding/obj/Debug/net8.0/DSACoding.GeneratedMSBuildEditorConfig.editorconfig
DSACoding/obj/Debug/net8.0/DSACoding.genruntimeconfig.cache
DSACoding/obj/Debug/net8.0/DSACoding.pdb
DSACoding/obj/Debug/net8.0/DSACoding.sourcelink.json
DSACoding/obj/Debug/net8.0/ref/DSACoding.dll
DSACoding/obj/Debug/net8.0/refint/DSACoding.dll
ccwc/bin/Debug/net8.0/ccwc.dll
ccwc/bin/Debug/net8.0/ccwc.exe
ccwc/bin/Debug/net8.0/ccwc.pdb
ccwc/obj/ccwc.csproj.nuget.dgspec.json
ccwc/obj/project.nuget.cache
ccwc/obj/Debug/net8.0/apphost.exe
ccwc/obj/Debug/net8.0/ccwc.AssemblyInfo.cs
ccwc/obj/Debug/net8.0/ccwc.AssemblyInfoInputs.cache
ccwc/obj/Debug/net8.0/ccwc.assets.cache
ccwc/obj/Debug/net8.0/ccwc.csproj.FileListAbsolute.txt
ccwc/obj/Debug/net8.0/ccwc.dll
ccwc/obj/Debug/net8.0/ccwc.GeneratedMSBuildEditorConfig.editorconfig
ccwc/obj/Debug/net8.0/ccwc.genruntimeconfig.cache
ccwc/obj/Debug/net8.0/ccwc.pdb
ccwc/obj/Debug/net8.0/ccwc.sourcelink.json
ccwc/obj/Debug/net8.0/ref/ccwc.dll
ccwc/obj/Debug/net8.0/refint/ccwc.dll
Philips/obj/Debug/net8.0/Philips.AssemblyInfo.cs
Philips/obj/Debug/net8.0/Philips.AssemblyInfoInputs.cache
Philips/obj/Debug/net8.0/Philips.csproj.CoreCompileInputs.cache
Philips/obj/Debug/net8.0/Philips.csproj.FileListAbsolute.txt
Philips/obj/Debug/net8.0/Philips.sourcelink.json
Philips/obj/Debug/net8.0/Philips.AssemblyInfo.cs
Philips/obj/Debug/net8.0/Philips.AssemblyInfoInputs.cache
TestWebApp/bin/Debug/net8.0/appsettings.Development.json
TestWebApp/bin/Debug/net8.0/appsettings.json
TestWebApp/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
TestWebApp/bin/Debug/net8.0/Microsoft.OpenApi.dll
TestWebApp/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
TestWebApp/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
TestWebApp/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
TestWebApp/bin/Debug/net8.0/TestWebApp.deps.json
TestWebApp/bin/Debug/net8.0/TestWebApp.dll
TestWebApp/bin/Debug/net8.0/TestWebApp.exe
TestWebApp/bin/Debug/net8.0/TestWebApp.pdb
TestWebApp/bin/Debug/net8.0/TestWebApp.runtimeconfig.json
TestWebApp/obj/Debug/net8.0/apphost.exe
TestWebApp/obj/Debug/net8.0/staticwebassets.build.json
TestWebApp/obj/Debug/net8.0/TestWebApp.AssemblyInfo.cs
TestWebApp/obj/Debug/net8.0/TestWebApp.AssemblyInfoInputs.cache
TestWebApp/obj/Debug/net8.0/TestWebApp.csproj.CoreCompileInputs.cache
TestWebApp/obj/Debug/net8.0/TestWebApp.csproj.FileListAbsolute.txt
TestWebApp/obj/Debug/net8.0/TestWebApp.csproj.Up2Date
TestWebApp/obj/Debug/net8.0/TestWebApp.dll
TestWebApp/obj/Debug/net8.0/TestWebApp.genruntimeconfig.cache
TestWebApp/obj/Debug/net8.0/TestWebApp.MvcApplicationPartsAssemblyInfo.cache
TestWebApp/obj/Debug/net8.0/TestWebApp.MvcApplicationPartsAssemblyInfo.cs
TestWebApp/obj/Debug/net8.0/TestWebApp.pdb
TestWebApp/obj/Debug/net8.0/TestWebApp.sourcelink.json
TestWebApp/obj/Debug/net8.0/ref/TestWebApp.dll
TestWebApp/obj/Debug/net8.0/refint/TestWebApp.dll
TestWebApp/obj/Debug/net8.0/staticwebassets/msbuild.build.TestWebApp.props
TestWebApp/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.TestWebApp.props
TestWebApp/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.TestWebApp.props
